<% provide(:title, "ホーム")%>

<div class="center jumbotron">
  <% if true%>
  <% comment_out %>
  <% else %>
  <% if session[:admin] = true %>
  <%= render 'static_pages/home_admin'%>
  <% end %>
  <% end %>
  <%= render 'static_pages/home_not_admin'%>
</div>