<li>
  <span class="content">退勤&emsp;&emsp;&nbsp;|
    <% if attendance.left_at.nil? %>
     入力なし
    <% else %>
      <%= Time.new(2024, 9, 1) %>
      <%= attendance.left_at.strftime("%Y年%m月%d日 %H時%m分") %>
    <% end %>
  </span>
  <span class="content">出勤&emsp;&emsp;&nbsp;|
    <% if attendance.arrived_at.nil? %>
     入力なし
    <% else %>
      <%= attendance.arrived_at.strftime("%Y年%m月%d日 %H時%m分")%>
    <% end %>
  </span>
  <% overtime = attendance.overtime %>
  <% if overtime.nil? %>
    <span class="content">残業時間 | 入力なし</span>
  <% else %>
    <span class="content">残業時間 | <%= (overtime/60/60).floor(2).to_s %> 時間
  <% end %>
</li>