<footer class="footer">
  <small>
    Made by Ishii Haruki
  </small>
  <nav>
    <ul>
      <li><%= link_to "Github(使い方はReadmeに記載)", 'https://github.com/palshe/attendance-app', target: "window.open" %></li>
    </ul>
  </nav>
</footer>